.userRowLink{
	text-decoration: none;
	color: black;
}

a.userRowLink:visited{
	color: black;
}

a.userRowLink:hover{
	color: #039be5;
}

.userRow,.headerRow{
	max-width: 50em;
	margin: 0px auto 0px auto;
	padding: 0px;
}

.userName,.userUserName,.userEmail,.userAddress{
	display: inline-block;
	border: 1px solid black;
	margin: 0px -6px 0px 0px;
	padding: 0.15em;
}

.userName{
	min-width: 12em;
}

.userUserName{
	min-width: 8em;
}

.userEmail{
	min-width: 15em;
}

.userAddress{
	min-width: 12em;
}

/* alternating row colors */
.even {
	background-color:#ccc;
}

.odd{
	/* inheriting defaults for now, could add style here.*/
}
