<h3>The Users</h3>
<div>
	<div class="headerRow">
		<div class="userName">Name</div>
		<div class="userUserName">UserName</div>
		<div class="userEmail">E-mail</div>
		<div class="userAddress">Address</div>
    </div>
	<!-- looping through, note that we only style the even class, but I've put in both even and odd for any further styling or DOM hooks/manipulation -->
	<a *ngFor="let user of users; let odd=odd; let even=even;"  [routerLink]="['/detail', user.id]"  class="userRowLink">
		<div class="userRow">
			<div class="userName" [ngClass]="{ odd: odd, even: even }">{{user.name}}<br>&nbsp;</div>
			<div class="userUserName" [ngClass]="{ odd: odd, even: even }">{{user.username}}<br>&nbsp;</div>
			<div class="userEmail" [ngClass]="{ odd: odd, even: even }">{{user.email}}<br>&nbsp;</div>
			<!-- TODO: Fix the datasource, there is no "address.state" value for any of the users -->
			<div class="userAddress" [ngClass]="{ odd: odd, even: even }">{{user.address.street}}<br>{{user.address.city}} {{user.address.zipcode}}</div>
		</div>
	</a>
</div>